.neutral {
    color: white;
    background-color: gray;
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.clear {
    color: white;
    background-color: green;
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.explode {
    color: white;
    background-color: red;
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.gameBoard {
    display: grid;
    position: absolute;
    z-index: 0;
    grid-template-columns: repeat(10, 50px);
    grid-template-rows: repeat(10, 50px);
}

.overlay-container {
    position: relative;
}

