.neutral {
    color: white;
    background-color: gray;
    width: 50px;
    height: 50px;
    border-radius: 15px;
}

.clear {
    color: white;
    background-color: green;
    width: 50px;
    height: 50px;
    border-radius: 15px;
}

.explode {
    color: white;
    background-color: red;
    width: 50px;
    height: 50px;
    border-radius: 15px;
}

.gameBoard {
    display: grid;
    grid-template-columns: repeat(10, 50px);
    grid-template-rows: repeat(10, 50px);
}

